@import url('https://fonts.xz.style/serve/fira-sans.css');

html,
body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50 !important;
  font-size: 14px !important;
}
